.basic-grid {
  display: grid;
  gap: 5em 2rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.banner {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}

button {
  background: #e9a81b;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
